@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


html {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

body {
    background-image: url('../resources/images/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#container {
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 100%;
    max-width: 1300px;
    padding: 20px;

    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
}

#simulator-notice {
    background: linear-gradient(180deg, #be9871, #ad7f4f);
    border: 1px solid #775e36;
    padding: 0px 15px 0px 15px;
    border-radius: 25px 0px 25px 0px;
    margin: 10px;
}

input[type="search"],
input[type="text"],
select {
    background: linear-gradient(180deg, #f2ece6, #a2988e);
    border: 1px solid #393632;
    padding: 8px 15px;
    border-radius: 10px;
    margin: 10px;
    color: #000000;
    cursor: pointer;
    font-weight: 500;
    transition: transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

button {
    background: linear-gradient(180deg, #be9871, #ad7f4f);
    border: 1px solid #775e36;
    padding: 8px 15px;
    border-radius: 10px;
    margin: 10px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    transition: transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

button:hover,
input[type="search"]:hover,
input[type="text"]:hover,
select:hover {
    transform: translateY(-2px) scale(1.02);
}

.dropdown-menu {
    position: absolute;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    background: rgba(10, 10, 10, 0.95);
    border: 1px solid #be9871;
    border-radius: 5px;
    z-index: 100;
    margin-top: -5px;
}

#cast-container {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
}

#cast-container:empty {
    display: none;
}

#cast-container b {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

#castmates-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 20px;
    padding: 20px 0;
    max-height: 50vh;
    overflow-y: auto;
}

#member-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
}

#member-container:hover {
    transform: translateY(-3px) scale(1.02);
}

#member-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #be9871;
    margin-bottom: 10px;
}

#member-container p {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 5px;
}

#controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#search-results {
    position: absolute;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    background: rgba(10, 10, 10, 0.95);
    border: 1px solid #be9871;
    border-radius: 5px;
    z-index: 100;
    margin-top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#predefined-menu {
    width: 200px;
    right: 19vw;
    top: 20vh;
    transform: fixed;
}

.search-result-item,
.predefined-item {
    padding: 8px 15px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-result-item:hover,
.predefined-item:hover {
    background-color: rgba(190, 152, 113, 0.2);
}

.search-result-item {
    padding: 8px 15px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-result-item:hover {
    background-color: rgba(190, 152, 113, 0.2);
}

/* MOBILE DROPDOWNS */
@media (max-width: 768px) {

    .dropdown-menu,
    #predefined-menu {
        position: fixed;
        top: 10;
        left: 10vh;
        width: 70vw;
        height: 30vh;
        max-height: none;
        margin: 0;
        border-radius: 0;
        background: rgba(10, 10, 10, 0.97);
        z-index: 10;
        overflow-y: auto;
    }

    .predefined-item {
        padding: 18px 20px;
        font-size: 1.1rem;
    }
}

table {
    border-radius: 20px;
    overflow: hidden;
}

tr {
    height: 40px;
    border-bottom: 1px solid #ddd;
    margin: 10px;
}

th {
    background-color: #28242e;
}

td {
    padding: 10px;
    background-color: white;
    color: black;
}

a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px 0px 10px;
}

p {
    padding: 0px 10px 0px 10px;
}